.home-page-container {
  padding: 40px 60px;
  padding: 20px;
  canvas{
    max-height: 450px;
    width: 350px;
  }
  .statistic-title {
    padding-block: 20px;
    font-size: 45px;
    font-weight: bold;
    text-align: start;
  }
}