.home-page-container {
  padding: 20px;
  height: calc(100% - 45px);
  padding-left: 24px;
  overflow-x: hidden;
  canvas {
    max-height: 750px;
    min-width: 550px;
    min-height: 550px;
    width: 650px;
  }
  .statistic {
    &-group {
      justify-items: center;
      &__chart {
        display: flex;
      }
      &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow-x: scroll;
        .show-more {
          border: 1px solid #d896ff;
          border-radius: 12px;
          padding-bottom: 4px;
          margin-top: 24px;
          width: 0;
          opacity: 0;
          transition: 0.5s ease-in-out;
          margin-inline: auto;
          cursor: pointer;
        }
      }
    }
    &-item {
      width: 100%;
      min-width: 550px;
      max-width: 750px;
      padding: 20px;
      margin-right: 24px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
      border-radius: 12px;
      background-color: #292557;
      &.month-detail {
        width: 450px;
      }
      &__summary {
        justify-content: space-between;
        display: flex;
        height: calc(100% - 330px);
        margin-bottom: 24px;
        transition: 0.5s ease-in-out;
        &__group {
          width: 100%;
          display: flex;
          justify-content: space-around;
          transition: 0.5s ease-in-out;
          @media screen and (max-width: 1190px) {
            justify-content: space-around;
            display: grid;
          }
        }
        &-content {
          font-size: 24px;
          font-weight: bold;
          text-align: left;
        }
        &-description {
          color: #000;
        }
        &--card {
          width: 100%;
          height: 100px;
          max-width: 300px;
          padding: 12px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          background-color: #fff;
          border-radius: 12px;
          transition: 0.5s ease-in-out;
          margin-right: 12px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          @media screen and (max-width: 1190px) {
            margin-bottom: 24px;
            min-width: 250px;
          }
        }
        .summary-icon {
          background-color: #fefefe;
          border-radius: 50%;
          padding: 12px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
      }
    }
  }
  .top-user {
    padding: 24px;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &-container {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
      border-radius: 12px;
      margin: 24px 0;
      background-color: #292557;
      padding-top: 12px;
      .statistic-title {
        text-align: center;
      }
      h1 {
        color: #fff;
      }
    }
    &__item {
      width: 20vw;
      margin: 12px;
      padding: 12px;
      border-radius: 50px;
      min-width: 290px;
      max-width: 350px;
      background-color: #fff;
      transition: 0.5s ease-in-out;
      align-items: center;
      display: flex;
      position: relative;
      &__image {
        border-radius: 70px;
        margin-right: 12px;
        height: 64px;
        width: 64px;
        object-fit: cover;
        background-color: #1a1736;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        transition: 0.5s ease-in-out;
      }
      &:hover {
        background-image: linear-gradient(to right, #cac6f5, #645da8, #3124a5);
        transition: 0.5s ease-in-out;
        box-shadow: rgba(21, 14, 48, 0.8) 0px 3px 16px;
        border-radius: 120px;
        .top-user {
          &__detail {
            color: #fff;
          }
          &__item__image {
            height: 120px;
            width: 120px;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
    &__detail {
      padding: 12px;
      display: grid;
      justify-items: flex-end;
      align-content: start;
      transition: 0.5s ease-in-out;
    }
    .order {
      font-weight: 600;
      padding: 8px 14px;
      border-radius: 24px;
      transition: 0.5s ease-in-out;
      position: absolute;
      left: -20px;
      top: 0;
      background-color: orange;
      &-name {
        font-weight: 600;
        font-size: 20px;
      }
    }
    // &__detail {
    //   padding: 12px;
    //   display: grid;
    //   justify-items: flex-end;
    //   align-content: start;
    //   .order {
    //     font-weight: 600;
    //     border: 1px solid #292557;
    //     padding: 8px;
    //     border-radius: 24px;
    //     transition: 0.5s ease-in-out;
    //     width: 70px;
    //   }
    // }
  }
  .top-car {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    border-radius: 12px;
    background-color: #292557;
    @media screen and (max-width: 700px) {
      width: 70vw;
      margin: auto;
    }
    h1 {
      color: #fff;
    }
    &-container {
      width: 100%;
      display: grid;
      h1 {
        text-align: start;
        padding-left: 24px;
      }
    }
    &__info {
      height: 110px;
      display: grid;
      align-content: center;
    }
    &__item {
      margin: 12px 24px;
      height: 160px;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      transition: 0.5s ease-in-out;
      background-color: #fefefe;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      &:hover {
        background-image: linear-gradient(to right, #cac6f5, #645da8, #322997);
        color: #fefefe;
        transition: 0.5s ease-in-out;
        .show-more {
          width: 70px;
          opacity: 1;
          transition: 0.5s ease-in-out;
        }
      }
      &__detail {
        padding: 12px;
        width: 30%;
        text-align: initial;
      }
      &__image {
        height: 100%;
        width: 120px;
        object-fit: contain;
        background-color: #fff;
        border-radius: 12px 0 0 12px;
        margin-right: 10px;
      }
      &__count {
        float: right;
        margin-right: 24px;
      }
    }
  }
  .statistic-title {
    padding-block: 0 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    color: #fff;
  }
  .month-picker {
    text-align: left;
    padding-left: 12px;
    border: 0.5px solid #ccc;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 12px;
    &-container {
      text-align: start;
      padding-block: 12px;
      font-size: 20px;
    }
    .MuiFormControl-marginNormal {
      margin: 4px;
    }
  }
  .MuiInput-underline::before {
    border-bottom: 0;
  }
  @media screen and (max-width: 1250px) {
    .statistic {
      &-group {
        justify-content: center;
        transition: 0.5s ease-in-out;
      }
      &-item {
        &-revenue {
          margin-block: 24px;
        }
      }
    }
    .month-picker {
      &-container {
        margin: auto;
      }
    }
  }
  @media screen and (max-width: 700px) {
    padding: 16px;
    canvas {
      min-width: 350px;
      min-height: 350px;
    }
    .statistic {
      &-group {
        display: grid;
        transition: 0.5s ease-in-out;
        &__top {
          display: grid;
          justify-items: center;
        }
      }
      &-item {
        width: 50%;
        margin-right: 0;
        min-width: 350px;
        padding: 0;
        margin-bottom: 12px;
        &-revenue {
          margin-block: 24px;
        }
        &.month-detail {
          margin-top: 60px;
          width: 50%;
        }
        &__summary {
          margin-right: 0;
          &-description {
            display: none;
            transition: 0.5s ease-in-out;
          }
          &--card {
            min-width: 0;
            transition: 0.5s ease-in-out;
            width: 80%;
          }
        }
      }
    }
  }
  .page-title {
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
