.message-item {
  position: relative;
  display: flex;
  &__content {
    position: relative;
    padding-inline: 12px;
    max-width: 450px;
    margin-block: 8px;
    text-align: left;
    &.left {
      background-color: #00a0a0;
      border-radius: 0 24px 24px;
    }
    &.right {
      background-color: white;
      border-radius: 24px 0 24px 24px;
    }
  }
  &__share-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px;
    margin-block: 12px;
    border-radius: 12px;
    p {
      text-align: left;
    }
    &__image {
      width: 15vw;
      height: 15vw;
      min-height: 150px;
      min-width: 150px;
      object-fit: cover;
      border-radius: 12px;
      background-color: #f0f8f8;
    }
    &__text {
      margin-left: 12px;
    }
  }
  .text {
    border-radius: 12px;
    padding: 12px 6px;
  }
  &.left {
    justify-content: left;
    margin-left: 12px;
  }
  &.right {
    justify-content: right;
    margin-right: 12px;
  }
  &.share-item {
    justify-content: center;
  }
}