.message-item {
  position: relative;
  display: flex;
  &__content {
    position: relative;
    padding-inline: 12px;
    max-width: 450px;
    margin-top: 12px;
    border-radius: 24px;
    text-align: left;
    &.left {
      background-color: #7e83c2;
    }
    &.right {
      background-color: #e7ecee;
    }
  }
  .text {
    border-radius: 12px;
    padding: 12px;
  }
  &.left {
    justify-content: left;
  }
  &.right {
    justify-content: right;
  }
}