.header {
    &-container {
        width: calc(100% - 340px);
        background-color: #fff;
        border-radius: 20px 0 0;
        color: #000;
        position: fixed;
        padding-inline: 20px;
        top: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    &-content {
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: space-between;
        .mini-avatar{
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}