.main-layout {
  background-color: #6868ac;
  padding-left: 270px;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  &.collapse {
    padding-left: 100px;
    transition: 0.5s ease-in-out;
    &.hide {
      padding-left: 30px;
    }
  }
  &.hide {
    padding-left: 270px;
  }
}
.main-page {
  width: 100%;
  margin-top: 50px;
  border-radius: 0 0 0 20px;
  background-color: #fff;
  overflow: auto;
}
.table-null{
  text-align: center;
  margin-block: 40px;
  display: grid;
  justify-content: center;
}
