.booking-form {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 90%;
    max-width: 550px;
    padding: 20px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &-content {
    margin-block: 12px;
    &__img {
      height: 260px;
      max-width: 550px;
      object-fit: cover;
    }
  }
  .MuiDialog-container{
    .MuiDialog-paperScrollPaper {
      top: 150px;
    }
  }
}
.booking {
  &-container {
    padding-inline: 5vw;
    padding-block: 20px 10px;
    .fc-view-harness {
      min-height: 550px;
      min-width: 550px;
    }
    .fc-scrollgrid-section-body {
      min-width: 550px;
    }
    .fc-button {
      background-color: #006666;
      border-color: #006666;
      &-active {
        background-color: #00a0a0 !important;
        border-color: #00a0a0 !important;
      }
    }
  }
}