.navigator {
    &-container {
        width: 250px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        transition: 0.5s ease-in-out;
        border-radius: 0 12px 12px 0;
        padding-inline: 12px;
        background-color: rgb(238, 238, 238);
        &.collapse {
            width: 100px;
            transition: 0.5s ease-in-out;
            padding-inline: 0;
            .navigator {
                &-item {
                    padding-inline: 0;
                    justify-content: center;
                    &__title{
                        width: 0;
                        position: absolute;
                        overflow: hidden;
                        transition: 0.5s ease-in-out;
                    }
                    &.item-selected {
                        border-radius: 50%;
                        margin: 0 24px;
                    }
                }
                &-header {
                    &__info {
                        display: none;
                    }
                }
            }
            &.hide {
                width: 30px;
                .navigator {
                    &-menu {
                        margin-left: -270px;
                    }
                    &-item {
                        margin-left: -270px;
                    }
                    &-header {
                        margin-left: -270px;
                    }
                }
                .item-selected {
                    background-color: transparent;
                    box-shadow: none;
                }
            }
        }
    }
    &-item{
        transition: 0.5s ease-in-out;
        display: flex;
        padding: 16px;
        text-decoration: none;
        color: rgb(14, 18, 62);
        &__title{
            text-align: left;
            margin-left: 12px !important;
            margin: auto;
            font-weight: 600;
            font-size: 16px;
        }
        .icon {
            height: 24px;
            width: 24px;
            background-origin: content-box;
        }
        &.item-selected {
            color: #fff;
            background-color:  rgb(14, 18, 62);
            border-radius: 30px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }
    }
    &-header {
        padding: 20px 0;
        color: #fff;
        &__avatar {
            height: 160px;
            width: 180px;
            object-fit: contain;
            transition: 0.5s ease-in-out;
            &.collapse {
                height: 60px;
                width: 60px;
                transition: 0.5s ease-in-out;
            }
        }
        &__info {
            margin: 12px;
        }
    }
    
}
.navigation-toggle {
    .css-hz1bth-MuiDialog-container {
        justify-content: start;
        .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
          height: 100%;
          margin: 0;
          width: 270px;
          max-height: none;
          border-radius: 0 24px 24px 0;
        //   background-color: rgba(180,180,180, 0.8);
        //   background-image: linear-gradient(0deg,rgba(3, 25, 86, 0.8), transparent);
        }
    }
    .navigator {
        &-container {
            background-image: none;
            box-shadow: none;
        }
        &-header {
            text-align: center;
        }
    }
}