.form {
  &--main {
    padding: 12px 0;
    background-color: #fff;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 0.5px solid rgba(20,20,20, 0.1);
    padding-bottom: 12px;
    padding-inline: 20px;
    text-transform: capitalize;
    span {
      cursor: pointer;
    }
  }
  &-content {
    padding: 24px;
    &__field {
      padding: 8px;
      margin-top: 8px;
      &__label{
        padding-block: 12px;
        font-weight: bolder;
        color: #8d8d94;
      }
      &__input {
        font-size: 14px;
        width: 93%;
        height: 40px;
        border: 0.5px solid #ccc;
        padding-inline: 12px;
        border-radius: 4px;
        &.select-list {
          width: 100%;
          height: 44px;
          border: none;
          font-size: 14px;
        }
      }
      option {
        font-size: 16px;
      }
      .MuiInputBase-input {
        justify-items: center;
      }
    }
  }
  &-group-btn {
    display: flex;
    justify-content: flex-end;
    padding: 12px 24px;
    border-top: 0.5px solid rgba(20,20,20, 0.1);
    button {
      height: 40px;
      width: 120px;
      font-size: 14px;
      margin-left: 12px;
      padding-inline: 8px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .cancel-btn {
      cursor: pointer;
      background-color: rgba(240,240,240,0.6);
    }
    .confirm-btn {
      cursor: pointer;
      background-color: rgba(104,104,172,1);
      color: #fff;
    }
    .cancel-booking-btn{
      width: fit-content;
      background-color: #ccc;
    }
    .go-to-history-perchase {
      width: fit-content;
    }
  }
  &--container {
    padding: 24px;
  }
}
.css-hz1bth-MuiDialog-container {
  &::-webkit-scrollbar-thumb {
    background-color:darkgrey;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }
}