$--list-icon: (
  'mail', 'user', 'gender', 'location', 'collapse',
  'detail', 'delete', 'edit', 'collapse-menu', 'notification', 
  'send', 'date-range'
);
$--list-menu-icon: (
  'message', 'check', 'calendar', 'home', 'user', 'car'
);
.icon {
  width: 1rem;
  height: 1rem;
  padding: 4px;
  background-repeat: no-repeat;
  @each $icon-name in $--list-icon {
    &__#{$icon-name}{
      background-image: url('/assets/img/#{$icon-name}.svg');
    }
  }
  @each $icon-name in $--list-menu-icon {
    &__#{$icon-name}{
      background-image: url('/assets/img/menu-icon/#{$icon-name}.svg');
    }
    &__#{$icon-name}-active{
      background-image: url('/assets/img/menu-icon/#{$icon-name}-active.svg');
    }
  }
}