.App {
  text-align: center;
  height: 100vh;
  position: relative;
}
.group-btn {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  button {
    height: 36px;
      width: 120px;
      font-size: 14px;
      margin-left: 12px;
      padding-inline: 8px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .cancel-btn {
    background-color: #eee;
    cursor: pointer;
  }
  .confirm-btn {
    background-color: #6868ac;
    cursor: pointer;
  }
}
.filter{
  display: flex;
  align-items: center;
  &-text {
    margin-right: 12px;
  }
  &-input {
    border-radius: 4px;
    margin-block: 12px;
    border: 0.5px solid #aaa; 
    padding-inline: 12px;
    height: 40px;
  }
}
.management-container {
  margin: 12px 20px 40px 60px;
}
// .MuiPaper-root {
//   background-color: rgba(256,256,256,0.3) !important;
// }
.MuiDialog-container{
  overflow-y: scroll;
  .MuiDialog-paperScrollPaper {
    max-height: none;
  }
}
input,
select {
  &:focus {
    border: 1.5px solid #6565bf;
    outline: none;
  }
}
::-webkit-scrollbar-thumb {
  background-color:rgba(101,101,191, 0.5);
  border-radius: 4px;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}