.store-info-form {
  &-content {
    &__group {
      margin-bottom: 20px;
    }
    &__field {
      &__label {
        font-size: 16px;
        font-weight: 600;
        padding-block: 12px;
      }
      &__input {
        width: 93%;
        height: 32px;
        border-radius: 4px;
        border: 0.5px solid #aaa;
        font-size: 16px;
        padding-inline: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
}