.store-info{
  height: 100%;
  background-repeat: round;
  &__img {
    width: 250px;
  }
  &__container {
    padding: 12px;
    border-radius: 20px;
    .profile-content__field__label {
      font-weight: bold;
    }
  }
  .group-btn {
    position: inherit !important;
    width: auto;
  }
}