.color-form {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 750px;
  }
  padding: 20px;
  &--container {
    margin-top: 12px;
  }
  &-content {
    padding: 24px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    &__img {
      border-radius: 4px !important;
      margin: auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &__pick-img {
      margin-left: 12px;
    }
    &__img-picker {
      text-align: center;
      margin-block: 24px;
    }
  }
  &--main {
    padding: 20px;
  }
  .selected-color{
    height: 100px;
    width: 100px;
    border-radius: 4px;
  }
  .review-color {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 50%;
  }
  .car-form-content__field {
    width: 50%;
  }
}
.image-picker-btn {
  opacity: 0;
  margin-left: -80px;
  width: 80px;
  z-index: 10;
}